*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#timeout{
    display: inline;
    border: none;
    font-size: 50px;
    padding: 20px;
    background-color: rgb(184, 248, 184);
    text-align: right;
}
#timeout:focus{
    box-shadow: none;
    outline: none;
}

#timeout::placeholder{
    color: blue;

}

.myButton{
    color: #fff;
    background-color: darkgoldenrod;
    margin: 20px 10px;
    padding: 30px;
}

#startButton{
    background-color: #398f39;
}